@charset "UTF-8";

 body 
{
        background-color: white ;
  background-image: linear-gradient(to right, white, rgb(27, 199, 251));
 text-align: center;
}
 h {
  background-color: black;
  margin: 0px;
  height: 160%;
  color: rgb(255,255,255);
  text-align: center;
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {

  color:  rgb(0, 0, 0);
  text-align: center;
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height:1.5em;
}

li {
 color:  rgb(0, 0, 0);
  text-align: center;
    text-decoration: none;
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height:1.5em;}

        a {
         color:  rgb(0, 0, 0);
          text-align: center;
           text-decoration: none;
  font-size: 130%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height:1.5em;}

img {
 text-align: center;
}
